@model EnqueteWeb.Models.Resposta

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/lib/bootstrap5/dist/css/bootstrap.css">

    <title>EqueteWeb :: Resposta</title>
</head>
<body>
    <div class="container">
        <h1>EnqueteWeb</h1>
        <h2>Obrigado por responder!</h2>
        <p><a class="btn btn-primary" asp-action="Index">Voltar ao início</a></p>
        <p><a class="btn btn-primary" asp-action="Resultado">Ver resultado parcial</a></p>
    </div>
</body>
</html>